<!DOCTYPE html>
<html>
  
<head>
  <%= stylesheet_link_tag "application"%>
  <%= javascript_include_tag "application" %>
</head>
 

 <body>
  <!-- Header and Nav -->
  <section class='top-bar-section'>
    <div class='contain-to-grid'>
      <nav class='top-bar' data-topbar data-options='is_hover: false'>
        <ul class='title-area'>
          <li class='name'>
            <h1><a href='#'>Blocipedia</a></h1>
          </li>
          <li class='toggle-topbar menu-icon'><a href='#'>About</a>
          </li>
        </ul>

        <ul class='right'>
          <div class="pull-right user-info">
            <% if current_user %>
              Hello <%= current_user.email %>! <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
            <% else %>
              <%= link_to "Sign In", new_user_session_path %> or 
              <%= link_to "Sign Up", new_user_registration_path %>
            <% end %>
          </div>
        </ul>

          <ul class='left'>
            <li><a href='#'></a></li>
          </ul>
        </section>
      </nav>
    </div> 

<!-- End Header and Nav -->

  
  <div class="row">
    <div class="large-3 columns">
      <h1><img src="http://placehold.it/400x100" /></h1>
      <ul class="side-nav">
          <%# @pages.each do |page| %>
          <li><a href="#">Europe</a></li>
          <li><a href="#">Asia</a></li>
          <li><a href="#">North America</a></li>
          <li><a href="#">South America</a></li>
          <li><a href="#">Australia</a></li>
          <li><a href="#">Africa</a></li>
          <li><%# link_to page.title, page %></li>
        </ul>
        <%# end %>
    </div>
    <div class="large-9 columns">
      <div class="row">
      <%= render partial: 'layouts/flashnotice' %>
      </div>      
      <%= yield %>
    </div>
  </div>
  
  



  </body>

 
  <footer class="row">
    <div class="large-12 columns">
      <hr />
      <div class="row">
        <div class="large-6 columns">
          <p>© Copyright Blocipedia 2014</p>
        </div>
        <div class="large-6 columns">
          <ul class="inline-list right">
          </ul>
        </div>
      </div>
    </div> 
  </footer>

</html>
